{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h2>Mi Perfil</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">Usuario: {{ user.username }}</h5>
        <p class="card-text">Email: {{ user.email }}</p>

        <hr />

        <h5 class="mt-4">Actualizar mi Nivel</h5>
        <p>
          Si sientes que has progresado y estás listo para un nuevo desafío,
          ¡puedes cambiar tu nivel aquí!
        </p>

        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary mt-3">
            Guardar Cambios
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
